.navbar-brand {
	color: blue;
}

.container {
	margin-top: 100px;
}

.counter-box {
	display: block;
	background: #f6f6f6;
	padding: 40px 20px 37px;
	text-align: center
}

.counter-box p {
	margin: 5px 0 0;
	padding: 0;
	color: #909090;
	font-size: 18px;
	font-weight: 500
}

.counter-box i {
	font-size: 60px;
	margin: 0 0 15px;
	color: #d2d2d2
}

.counter {
	display: block;
	font-size: 32px;
	font-weight: 700;
	color: #666;
	line-height: 28px
}

.counter-box.colored {
	background: #333b37;
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
	color: #fff
}

#demo {
	height: 100%;
	position: relative;
	overflow: hidden;
}


.green {
	background-color: #6fb936;
}

.thumb {
	margin-bottom: 30px;
}

.page-top {
	margin-top: 85px;
}


img.zoom {
	width: 100%;
	height: 200px;
	border-radius: 5px;
	object-fit: cover;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}


.transition {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

.modal-header {

	border-bottom: none;
}

.modal-title {
	color: #000;
}

.modal-footer {
	display: none;
}